<!doctype html>
<html>
<%- include('parts/header', {title: __('title-error')}) %>

<body>
    <header class="header">
        <nav class="menu">
            <a class="menu-link" href="/<%= locale %>/"><%= __('menu-all') %></a>
            <a class="menu-link" href="/<%= locale %>/recovered/"><%= __('menu-recovered') %></a>
            <a class="menu-link" href="/<%= locale %>/dead/"><%= __('menu-dead') %></a>

            <a class="menu-select" href="/<%= locale %>/suggest/"><%= __('menu-suggest') %></a>
        </nav>
    </header>

    <section class="message">
        <h1 class="message-title"><%= __('error-title') %></h1>
        <p class="message-text"><%= __('error-text') %></p>
    </section>
</body>
</html>