<!doctype html>
<html>
<%- include('parts/header', {title: __('title-recovered')}) %>

<body>
    <header class="header">
        <nav class="menu">
            <a class="menu-link" href="/<%= locale %>/"><%= __('menu-all') %></a>
            <a class="menu-link menu-current" href="/<%= locale %>/recovered/"><%= __('menu-recovered') %></a>
            <a class="menu-link" href="/<%= locale %>/dead/"><%= __('menu-dead') %></a>

            <a class="menu-link menu-select" href="/<%= locale %>/suggest/"><%= __('menu-suggest') %></a>
        </nav>

        <%- include('parts/share') %>

        <h1 class="title"><%- __('header-title') %></h1>
    </header>

    <section class="swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% items.forEach(function(item) { %>
                <%- include('parts/item', {item: item}); %>
                <% }); %>
            </div>
        </div>

        <div class="swiper-button swiper-next"></div>
        <div class="swiper-button swiper-prev"></div>
    </section>

    <footer class="footer">
        <%- include('parts/about') %>

        <%- include('parts/share') %>
    </footer>

    <script src="/scripts/swiper.min.js"></script>
    <script src="/scripts/custom.min.js?v=<%= version %>"></script>

    <%- include('parts/analytics') %>
</body>
</html>