<!doctype html>
<html>
<%- include('parts/header', {title: 'Add new / Celebs with COVID-19'}) %>

<body>
    <header class="header">
        <nav class="menu">
            <a class="menu-link" href="/"><%= __('menu-all') %></a>
            <a class="menu-link" href="/recovered/"><%= __('menu-recovered') %></a>
            <a class="menu-link" href="/dead/"><%= __('menu-dead') %></a>

            <a class="menu-select" href="/suggest/"><%= __('menu-suggest') %></a>
        </nav>
    </header>

    <form class="form" action="/suggest/" method="post">
        <h4 class="form-status"></h4>

        <fieldset class="form-item">
            <label class="form-label" for="form-name"><%= __('form-name') %></label>
            <input class="form-input" id="form-name" name="name" value="" required>
        </fieldset>

        <fieldset class="form-item">
            <label class="form-label" for="form-bio"><%= __('form-bio') %></label>
            <input class="form-input" id="form-bio" name="bio" value="" required>
        </fieldset>

        <fieldset class="form-item">
            <label class="form-label" for="form-link"><%= __('form-link') %></label>
            <input class="form-input" id="form-link" name="link" value="" required>
        </fieldset>

        <span class="form-status" id="form-wait"><%= __('form-wait') %></span>
        <span class="form-status" id="form-sent"><%= __('form-sent') %></span>
        <span class="form-status" id="form-error"><%= __('form-error') %></span>

        <button type="submit" class="form-button" id="form-button"><%= __('form-button') %></button>
    </form>

    <script src="/scripts/swiper.min.js"></script>
    <script src="/scripts/custom.min.js"></script>
</body>

</html>