<article class="swiper-slide">
    <div class="unit">
        <figure class="unit-image">
            <img class="unit-photo" src="<%= item.photo.image %>" alt="<%= item.name %>" loading="lazy" width="<%= item.photo.width %>" height="<%= item.photo.height %>">
        </figure>

        <div class="unit-content">
            <h4 class="unit-name"><%= item.name %></h4>
            <p class="unit-bio"><%= item.bio %></p>

            <% if (item.link && item.button) { %>
                <a class="unit-link" href="<%= item.link %>" target="_blank"><%= item.button %></a>
            <% } %>
        </div>

        <span class="unit-status unit-<%= item.status %>" title="<%= item.status %>"></span>
    </div>
</article>
